<!DOCTYPE html>
<html>
<head>
  <title>CineRater</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= video_tag "intersteller.mp4", id: "bgvid", autoplay: true, muted: true %>
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key} text-center" %>
  <% end %>
  <%= yield %>
</body>
</html>
